.introcanada_mainContainer{
    background: url("../../../Images/canadaback.png");
    max-width: 100%;
    object-fit: cover;
    background-size: cover; 
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introcanada_textContainer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.introcanada_headText{
    font-size: 70px;
    color: white;
    font-family: var(--font1);
    font-weight: 800;
}
.introcanada_seoText{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: var(--font3);
    margin-top: 10px;
}
@media screen and (max-width: 500px){
    .introcanada_headText{
        font-size: 40px;
    }
    .introcanada_seoText{
        font-size: 24px;
    }
}
@media screen and (max-width: 350px){
    .introcanada_headText{
        font-size: 30px;
    }
    .introcanada_seoText{
        font-size: 20px;
    }
}