.navbars {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 100px;
  align-items: center;
  z-index: 4;
  position: relative;
}

.navbar-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0 20px;
  position: relative; /* Add relative positioning */
}

.navv_logo {
  width: 80px;
  height: 80px;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navv_logo_img {
  width: 80px;
  height: 80px;
}

.navs-logoImg {
  width: 80px;
  height: 80px;
}

.navbar-ul {
  display: flex;
  margin: 0;
  text-decoration: none;
  color: black;
  margin-top: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.navbar-li {
  font-family: var(--font1);
  list-style: none;
  margin: 25px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  color: black;
  text-decoration: none;
  position: relative; 
}

.navbar-li::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  background-color: var(--color1r); 
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease-out; 
}

.navbar-li:hover::before {
  width: 100%;
}

.navs-dropdown {
  position: absolute;
  width: 104px;
  height: 52px;
}

.navs-dropMenu {
  position: absolute;
  background-color: #2e77eb;
  width: 220px;
  top: 100%; /* Adjusted top value */
  display: none;
}

.drop-ul {
  padding: 20px;
  padding-left: 30px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  margin-top: -20px;
}

.drop-li {
  list-style: none;
  margin-top: 17px;
  color: white;
}

.navs-services:hover .navs-dropMenu {
  display: block;
}

.navs-dropdown:hover {
  display: block;
}

.span-service {
  display: flex;
  color: black;
  text-decoration: none;
}

.span-service p {
  margin: 0 10px;
}

.drop-li:hover {
  color: rgb(221, 217, 217);
  transition: all 0.3s ease-in-out;
}

.Navlink {
  text-decoration: none;
}

.R_navs-list {
  color: var(--color2b);
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  margin: 30px;
  font-family: var(--font3);
  cursor: pointer;

}

.navs-list a,
.R_navs-list a {
  text-decoration: none !important;
  color: #675f86;
}

.R_NavBar-nav {
  display: none;
}

.off_canvas {
  background: linear-gradient(90deg, rgb(250, 250, 250) 0%, rgb(255, 255, 255) 79%);
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translateX(100%) translateZ(0);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0; /* Adjusted bottom value */
  left: 0;
  z-index: 1000;
  /* border: 1px solid red; */
  overflow-y: auto; /* Allow scrolling if the content is too tall */
}

.off_canvas.show {
  transform: translateX(0) translateZ(0);
}

.Burger {
  padding: 10px;
  width: 80px;
  cursor: pointer; /* Add cursor style */
}

.line {
  width: 40px;
  height: 3px;
  margin: 7px;
  background-color: #675f86;
}

@media screen and (max-width: 936px) {
  .R_NavBar-nav {
    display: block;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-child {
    display: none;
  }
}

/* MOBILE VIEW */
.phoneviewtittle{
  margin-top: 40px;
  font-family: var(--font1);
  margin-left: 30px;
  font-size: 30px;
  color: var(--color1r);
}