.teste2_mainContainer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--color2b); */
    color: white;
  }
  .teste2_textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
  }
  .teste2_headText {
    font-size: 40px;
    font-weight: 600;
    font-family: var(--font1);
    color: var(--color1r);
  }
  .teste2_subText {
    margin-top: 15px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font3);
    color: black;
    text-align: center;
    width: 80%;
  }
  .teste2_sliderContainer {
    /* margin-top: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: white;
    
  }
  .teste2_crausel {
    width: 80%;
    /* border: 1px solid red; */
    margin-top: 30px;
    user-select: none;
    border: 1px solid var(--color2b);
    padding: 20px;
    border-radius: 30px;
  }
  
  /* card Container */
  .testeCard2_mainContainer {
    /* border: 1px solid green; */
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .testeCard2_box {
    width: 280px;
    height: 280px;
    /* background-color: var(--color1r); */
    /* clip-path: polygon(0% 0%,100% 5%,100% 70%, 75% 75%,75% 100%,50% 75%,0% 75%); */
    /* clip-path:polygon(0% 0%,100% 5%,100% 70%, 54% 75%,35% 99%,34% 75%,0% 75%); */
    clip-path: polygon(
      0% 0%,
      100% 5%,
      100% 70%,
      49% 75%,
      35% 85%,
      38% 75%,
      0% 75%
    );
    display: flex;
    align-items: start;
    justify-content: center;
    background: rgb(218, 39, 47);
    background: linear-gradient(
      183deg,
      rgba(218, 39, 47, 1) 75%,
      rgba(255, 92, 99, 1) 100%
    );
  }
  .testeCard2_textContainer {
    width: 80%;
    margin-top: 25px;
    line-height: 20px;
    font-family: var(--font3);
    font-size: 14px;
    color: black;
  }
  .testeCard2_infoDiv{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      /* border: 1px solid palegreen; */
      margin-top: -40px;
  }
  .testeAvatar{
      height: 50px;
      width: 50px;
      border-radius: 50%;
  }
  .testeCard2_nameDiv{
      margin-left: 20px;
      color: black;
  }
  .testeCard2_name{
      font-family: var(--font1);
      font-size: 20px;
      line-height: 26px;
  }
  .testeCard2_uni{
      font-family: var(--font3);
      font-size: 16px;
  }